In [ ]:
%pip install mysql-connector-python
%pip install mysql-connector

import mysql.connector
from mysql.connector import errorcode
%pip install pymysql
import pandas as pd

import pymysql
import numpy as np

____

PELICULAS

In [ ]:

# Leer los datos del archivo CSV con Pandas
df_peli = pd.read_csv("peliculas.csv", index_col=None)

# Establecer la conexión con la base de datos MySQL
cnx = pymysql.connect(user='root', password='AlumnaAdalab', host='localhost', database='whatflix')
mycursor = cnx.cursor()

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in df_peli.to_numpy()]

# Definir la consulta SQL
sql = "INSERT INTO peliculas (tipo, titulo, año, mes, id, genero) VALUES (%s, %s, %s, %s, %s, %s)"

try: 
    # Usar executemany con la lista de tuplas
    mycursor.executemany(sql, data_tuples)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except pymysql.Error as err:
    print(err)
    print("Error Code:", err.args[0])
    print("Message", err.args[1])

# Cerrar la conexión
cnx.close()

_______

DETALLES ARTISTA

In [ ]:
# Leer los datos del archivo CSV con Pandas
df_detall_art = pd.read_csv("detalles_artistas.csv", index_col=None)

#creo una lista de actores sin duplicados
archivo = "detalles_artistas.csv"
dataframe = pd.read_csv(archivo)

dataframe.head()
dataframe.duplicated().sum()
dataframe.shape
dataframe_sin_duplicados = dataframe.drop_duplicates(subset=['actr'])

dataframe_sin_duplicados.shape

In [ ]:

# Establecer la conexión con la base de datos MySQL
cnx = pymysql.connect(user='root', password='AlumnaAdalab', host='localhost', database='whatflix')
mycursor = cnx.cursor()

# Convertir el DataFrame a una lista de tuplas, reemplazando NaN con None
dataframe_sin_duplicados = dataframe_sin_duplicados.where(pd.notna(dataframe_sin_duplicados), None)
data_tuples = [tuple(x) for x in dataframe_sin_duplicados.to_numpy()]

In [ ]:
if not dataframe_sin_duplicados.empty:
    # Convertimos el DataFrame a una lista de tuplas
    data_tuples = [tuple(x) for x in dataframe_sin_duplicados.to_numpy()]
else:
    print("El DataFrame está vacío.")

# Nos aseguramos de no estar intentando acceder a un índice fuera del rango
for row in data_tuples:
    print(row[0])  # Asegúrate de que 0 sea un índice válido en todas las tuplas

In [ ]:

# Definir la consulta SQL
sql = "INSERT INTO detalles_artistas (artista, año_nacimiento, conocido_por, profesion, premios) VALUES (%s, %s, %s, %s, %s)"

try:
    # Usar executemany con la lista de tuplas sin duplicados
    mycursor.executemany(sql, data_tuples)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except pymysql.Error as err:
    print(err)
    print("Error Code:", err.args[0])
    print("Message", err.args[1])

# Cerrar la conexión
cnx.close()

______

TOMATOMETRO

In [ ]:
# Leer los datos del archivo CSV con Pandas -> añado encoding='latin' por error UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 843: invalid continuation byte

df_rotten = pd.read_csv("tomatometro.csv", index_col=None, encoding='latin1')


# Eliminar duplicados directamente en el DataFrame
df_rotten = df_rotten.drop_duplicates()

# Para evitar Error Code: nan can not be used with MySQL
df_rotten = df_rotten.dropna()

# Establecer la conexión con la base de datos MySQL
cnx = pymysql.connect(user='root', password='AlumnaAdalab', host='localhost', database='whatflix')
mycursor = cnx.cursor()

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in df_rotten.to_numpy()]



# Definir la consulta SQL -- ponemos IGNORE si en el drop duplicate no funciona
sql = "INSERT INTO tomatometro (titulo, tomatometro, id) VALUES (%s, %s, %s)"


try:
    # Usar executemany con la lista de tuplas sin duplicados
    mycursor.executemany(sql, data_tuples)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except pymysql.Error as err:
    print(err)
    print("Error Code:", err.args[0])
    print("Message", err.args[1])

# Cerrar la conexión
cnx.close()

____

OSCARS

In [ ]:
# Leer los datos del archivo CSV con Pandas
df_oscars = pd.read_csv("oscars.csv", index_col=0)
df_oscars

# Establecer la conexión con la base de datos MySQL
cnx = pymysql.connect(user='root', password='AlumnaAdalab', host='localhost', database='whatflix')
mycursor = cnx.cursor()

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in df_oscars.to_numpy()]

# Definir la consulta SQL
sql = "INSERT INTO oscars (año_ceremonia, mejor_pelicula, mejor_director, mejor_actor, mejor_actriz) VALUES (%s, %s, %s, %s, %s)"

try: 
    # Usar executemany con la lista de tuplas
    mycursor.executemany(sql, data_tuples)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except pymysql.Error as err:
    print(err)
    print("Error Code:", err.args[0])
    print("Message", err.args[1])

# Cerrar la conexión
cnx.close()

_____

DETALLES PELICULAS

In [ ]:

# Leer los datos del archivo CSV con Pandas
df_detall_peli = pd.read_csv("detalles_peliculas.csv", index_col=None)

# Establecer la conexión con la base de datos MySQL
cnx = pymysql.connect(user='root', password='AlumnaAdalab', host='localhost', database='whatflix_prueba')
mycursor = cnx.cursor()

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in df_detall_peli.to_numpy()]

# Definir la consulta SQL
sql = "INSERT INTO detalles_peliculas (titulo, calificacion_imdb, director, guionista, argumento, duracion, id) VALUES (%s, %s, %s, %s, %s, %s, %s)"

try: 
    # Usar executemany con la lista de tuplas
    mycursor.executemany(sql, data_tuples)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except pymysql.Error as err:
    print(err)
    print("Error Code:", err.args[0])
    print("Message", err.args[1])

# Cerrar la conexión
cnx.close()

_____

PELICULA ARTISTAS

In [ ]:

# Leer los datos del archivo CSV con Pandas
df_peli_art = pd.read_csv("pelicula_artista.csv", index_col=None)

# Establecer la conexión con la base de datos MySQL
cnx = pymysql.connect(user='root', password='AlumnaAdalab', host='localhost', database='whatflix_prueba')
mycursor = cnx.cursor()

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in df_peli_art.to_numpy()]

# Definir la consulta SQL
sql = "INSERT INTO pelicula_artista (id, artista) VALUES (%s, %s)"

try: 
    # Usar executemany con la lista de tuplas
    mycursor.executemany(sql, data_tuples)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except pymysql.Error as err:
    print(err)
    print("Error Code:", err.args[0])
    print("Message", err.args[1])

# Cerrar la conexión
cnx.close()